@using Microsoft.AspNetCore.Components.Routing

<div class="navbar navbar-dark bg-danger px-3">
    <a class="navbar-brand" href="/">Bill's PC</a>
</div>

<nav class="nav flex-column mt-3">
    <NavLink class="nav-link px-3" href="/" Match="NavLinkMatch.All">
        🏠 Home
    </NavLink>
    <NavLink class="nav-link px-3" href="/about">
        ➕ Info
    </NavLink>
   
    <NavLink class="nav-link px-3" href="/search-pokemon">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png"
             alt="Poké Ball"
             width="20"
             height="20"
             class="me-1"
             style="vertical-align: middle;" />Pokemon
    </NavLink>


</nav>

