@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bill's PC</a>
    </div>
</div>

<input type="checkbox" id="nav-toggle" class="navbar-toggler" title="Navigation menu" />
<label for="nav-toggle" class="navbar-toggler-label">☰</label>  <!-- Example label for toggle -->

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/search-pokemon">
                <span class="bi bi-joystick" aria-hidden="true"></span> Pokemon
            </NavLink>
        </div>
    </nav>
</div>

